/* General */
* {
    box-sizing: border-box;
}

html,
body {
    background-color: #000002;
}

/* Header */

header {
    background-image: url(../public/img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    height: 80vh;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 80vh;
}

.logo-container {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 5.5rem;
    padding: 1rem 0 0 2.5rem;

}

.logo-container img {
    width: 3%;
    object-fit: contain;
}

.logo-container p {
    font-family: Poppins, serif;
    font-weight: 700;
    font-size: 1.4rem;
    align-self: flex-end;
    margin: 0 0 0.1rem 0.2rem;
}

.header-about {
    text-align: center;
}

.header-about h1 {
    margin: 4.5rem;
    font-family: Poppins, serif;
    font-weight: 700;
    font-size: 32;
    letter-spacing: .1rem;

}

.header-about p {
    width: 50%;
    margin: auto;
    font-family: Poppins, serif;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: .17 rem;
}

/* Main Section */

.main-section {
    font-family: Poppins, serif;
    position: relative;
    margin-top: -13rem;
}

/* Search */

.search-container {
    border-radius: 7px;
    background-color: #ECECEC;
    width: 53%;
    height: 3rem;
    margin: auto auto 7rem auto;
    display: flex;
}

.search-container img {
    width: 3%;
    object-fit: contain;
    margin: 0 0.3rem 0 0.7rem;
}

.search-container input {
    border: none;
    border-radius: 7px;
    background: none;
    object-fit: contain;
    font-weight: 500;
    color: #7E7E83;
    flex-grow: 4;
}

.search-container input:focus {
    outline: none;
}

/* Filter */

.filter-container {
    display: flex;
    width: 53%;
    margin: 0 0 2rem 0;
    flex: 1;
    justify-content: space-evenly;
}

.filter-item {
    text-align: center;
    border-radius: 7px;
    background-color: #2B2B32;
    color: white;
    height: 2.5em;
    font-weight: 500;
    font-size: 1.1rem;
}

/* Gallery */

.gallery-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #02010A;
}

.gallery-item {
    flex: 0 1 22.02%;
    border-radius: 10px;
    background-color: white;
    filter: drop-shadow(0px 1px 3px grey);
    margin-bottom: 1.01rem;
    height: 25rem;
    overflow: hidden;
    overflow-y: scroll;
}

.gallery-link {
    text-decoration: none;
}

.gallery-item h1 {
    font-size: 1.4rem;
    font-weight: 700;
    color: black;
}

.gallery-item h1,
.gallery-item p {
    padding: 0 5%;
}

.gallery-image {
    height: 50%;
}

.gallery-image img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Game Page - Not Cleaned Up Yet*/

.game-desc .col-sm-4 {
    background-color: grey;
    border-radius: 15px;
}

.game-desc .col-sm-6 {
    position: relative;
    right: 20px;

}

.game-desc .col-sm-4 {
    position: relative;
    bottom: 30px;
}

.row.stats {
    padding: 30px;
}

.row.url {
    color: white;
    background-color: #d11754;
    border-radius: 0 0 15px 15px;
    padding: 5px;
}

.row.url p {
    text-align: center;
}

/* Footer */

footer {
    background-color: #1C1B22;
    color: white;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
}